In [1]:
## SET UP ##

# 1: Importamos las librerias que vamos a usar:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OrdinalEncoder

In [2]:
# 2: Seteamos el working directory:
os.chdir('C:/Users/carle/Desktop/Nuclio_EasyMoney')

In [3]:
# 3: Leemos los documentos CSV:
# 3.1: Function to load CSV files
def load_csv(file_path):
    if os.path.exists(file_path):
        return pd.read_csv(file_path)
    else:
        print(f"File {file_path} not found!")
        return None
    
# 3.2: Paths to the CSV files
path_products = '0_Data/products_df.csv'

# 3.3: Load dataframes
df_products = load_csv(path_products)

In [4]:
## df_commercial ##
## ANALISIS PRELIMINAR ##

# 1: Analizamos la informaci√≥n preliminar del archivo:
df_products.info()
df_products.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [5]:
# 1: Analizamos la informaci√≥n preliminar del archivo:
df_products.describe()

,Unnamed: 0,pk_cid,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
count,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06,5962924.0,5.962924e+06,5.962863e+06,5.962863e+06,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06,5.962924e+06
mean,7.155425e+06,1.234930e+06,2.581619e-03,7.848498e-05,5.433576e-05,3.370662e-03,3.711770e-03,1.688098e-02,0.0,1.188444e-02,3.451144e-02,3.652641e-02,5.524471e-02,5.483233e-02,9.441140e-02,5.701901e-06,7.348076e-01
std,3.920784e+06,1.623020e+05,5.074401e-02,8.858828e-03,7.371080e-03,5.795948e-02,6.081113e-02,1.288255e-01,0.0,1.083660e-01,1.825388e-01,1.875960e-01,2.284573e-01,2.276527e-01,2.924002e-01,2.387859e-03,4.414356e-01
min,0.000000e+00,1.589100e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.240386e+06,1.112532e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.499346e+06,1.231097e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.020142e+07,1.352339e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.364731e+07,1.553689e+06,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [6]:
# 1: Analizamos la informaci√≥n preliminar del archivo:
df_products.isnull().sum()

Unnamed: 0             0
pk_cid                 0
pk_partition           0
short_term_deposit     0
loans                  0
mortgage               0
funds                  0
securities             0
long_term_deposit      0
em_account_pp          0
credit_card            0
payroll               61
pension_plan          61
payroll_account        0
emc_account            0
debit_card             0
em_account_p           0
em_acount              0
dtype: int64

In [7]:
# 1: Analizamos la informaci√≥n preliminar del archivo:
# 1.1: Function to calculate percentage of null values
def null_percentage(df):
    return (df.isnull().sum() / len(df)) * 100

# 1.2: Apply the function
null_percentage(df_products)

Unnamed: 0            0.000000
pk_cid                0.000000
pk_partition          0.000000
short_term_deposit    0.000000
loans                 0.000000
mortgage              0.000000
funds                 0.000000
securities            0.000000
long_term_deposit     0.000000
em_account_pp         0.000000
credit_card           0.000000
payroll               0.001023
pension_plan          0.001023
payroll_account       0.000000
emc_account           0.000000
debit_card            0.000000
em_account_p          0.000000
em_acount             0.000000
dtype: float64

In [8]:
# 1: Analizamos la informaci√≥n preliminar del archivo:
df_products[df_products.duplicated()].count()

Unnamed: 0            0
pk_cid                0
pk_partition          0
short_term_deposit    0
loans                 0
mortgage              0
funds                 0
securities            0
long_term_deposit     0
em_account_pp         0
credit_card           0
payroll               0
pension_plan          0
payroll_account       0
emc_account           0
debit_card            0
em_account_p          0
em_acount             0
dtype: int64

In [9]:
for i in df_products:
    print(df_products[i].value_counts())

Unnamed: 0
0           1
9344701     1
9344699     1
9344698     1
9344697     1
           ..
5074084     1
5074083     1
5074082     1
5074081     1
13647308    1
Name: count, Length: 5962924, dtype: int64
pk_cid
1375586    17
1328781    17
1328783    17
1328784    17
1328786    17
           ..
1521045     1
1545224     1
1470941     1
1521049     1
1550586     1
Name: count, Length: 456373, dtype: int64
pk_partition
2019-05-28    442995
2019-04-28    439627
2019-03-28    436183
2019-02-28    431727
2019-01-28    426875
2018-12-28    422481
2018-11-28    416387
2018-10-28    402300
2018-09-28    375323
2018-08-28    352922
2018-07-28    339339
2018-06-28    252104
2018-05-28    249926
2018-04-28    247463
2018-03-28    245258
2018-02-28    242521
2018-01-28    239493
Name: count, dtype: int64
short_term_deposit
0    5947530
1      15394
Name: count, dtype: int64
loans
0    5962456
1        468
Name: count, dtype: int64
mortgage
0    5962600
1        324
Name: count, dtype: int64
funds
0    5942825
1      20099
Name: count, dtype: int64
securities
0    5940791
1      22133
Name: count, dtype: int64
long_term_deposit
0    5862264
1     100660
Name: count, dtype: int64
em_account_pp
0    5962924
Name: count, dtype: int64
credit_card
0    5892058
1      70866
Name: count, dtype: int64
payroll
0.0    5757076
1.0     205787
Name: count, dtype: int64
pension_plan
0.0    5745061
1.0     217802
Name: count, dtype: int64
payroll_account
0    5633504
1     329420
Name: count, dtype: int64
emc_account
0    5635963
1     326961
Name: count, dtype: int64
debit_card
0    5399956
1     562968
Name: count, dtype: int64
em_account_p
0    5962890
1         34
Name: count, dtype: int64
em_acount
1    4381602
0    1581322
Name: count, dtype: int64

In [14]:
## TRANSFORMACION DATOS ##